@font-face {
    font-family: 'myFont';
    src: url('./graphics/comic_book.otf') format('truetype');
}

body {
    margin-top: 50px;
    color: #000000;
    background-image: url('./graphics/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    font-family: 'myFont', Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.title {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    background-color: #000000a6;
    border-radius: 25px;
    font-size: 55px;
    text-align: center;
    background-position: center;
}